*.gem
*.rbc
.bundle
.config
.yardoc

# ctags file
tags
.tags
.tags_sorted_by_file

Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
